*{
    margin: 0px;
    padding: 0px;
}

.heading{
    color: white;
    background: teal;
    padding: 20px;
    letter-spacing: 1px;
    margin-bottom: 50px;
    text-align: center;
}

.btn, .form-control {
    border-radius: 5px;
    width: 100%;
}

.paragraph {
    color: teal;
}

#postBtn:hover {
    background: skyblue;
    font-weight: 500;
}

.heading:hover {
    background: magenta;
}